.container {
    position: relative;
    width: 350px;
    height: 350px;
}

.rhombus {
    width: 350px;
    height: 350px;
    background-color: #111821;
    transform: rotate(45deg);
    position: absolute;
}

.rhombus-front {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(80deg);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.rhombus-back {
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(80deg);
    background-color: #4D79FF;
    z-index: 1;
}

.profile {
    transform: rotate(-90deg);
    position: relative;
    left: 23px;
    width: 180px;
    height: 300px;
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: 100%;
}

@media (max-width: 992px) {

    /* Adjust the max-width as needed for medium screens */
    .container {
        width: 250px;
        /* 100px smaller */
        height: 250px;
        /* 100px smaller */
    }

    .rhombus {
        width: 250px;
        /* 100px smaller */
        height: 250px;
        /* 100px smaller */
    }

    .profile {
        left: 23px;
        /* Adjust if necessary */
        width: 130px;
        /* Adjust the width if needed */
        height: 200px;
        /* Adjust the height if needed */
    }
}