@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0a192f;
    overflow-x: hidden;
    color: #ffffff;
    font-style: normal;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.left-image {
    border: 4px solid #4D79FF;
    box-shadow: 0 0 20px 1px #4D79FF;
    border-radius: 1rem;
    overflow: hidden;
}

.skill-button {
    padding: 10px 18px;
    border: 1px solid #223247;
    color: #4D79FF;
    font-size: 1.2rem;
    background-color: #223247;
    border-radius: 5%;
}

.skill-button:hover {
    transform: scale(1.05);
    transition: all ease-in-out 300ms;
}


@media (max-width: 800px) {

  .skill-button{
     font-size: 1rem;
     padding: 8px 16px;
  }
}