@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    max-width: 100vw;
background-color: #0a192f;
border: 2px solid black;
    color: #ffffff;
    /* font-family: __Quicksand_8abeb8, __Quicksand_Fallback_8abeb8;
     */
    /* text color #e3e8f9 */
    /* higlighted text color 255 255 255 1
    font-size: 30px; */
    font-style: normal;
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.left-image {
    border: 4px solid #4D79FF;
    box-shadow: 0 0 20px 1px #4D79FF;
    border-radius: 1rem;
        overflow: hidden;
}

.skill-button {
    padding: 12px 18px;
    border: 1px solid #223247;
    color: #4D79FF;
    font-size: 1.2rem;
    background-color: #223247;
    border-radius: 5%;
  

}.skill-button:hover{
    transform: scale(1.05);
    transition: all ease-in-out 300ms;
     
}